body {
	--font-size-default: 16px;
	--font-family-default: Helvetica, Arial, sans-serif;
	--color-white: #ffffff;
	--color-text-default: #222;
	/* --color-title: rgb(214, 214, 121); */
	--color-error: #eb0c0c;
	--color-shadow: #646464;
	--color-black: #000;
}
