.list {
	display: flex;
	overflow-x: hidden;
	gap: 10px;
	padding: 20px 0;
	cursor: grab;
}

.listTitle {
	margin-left: 50px;
	font-size: 2rem;
	color: var(--color-white);
}

.list:hover {
	overflow-x: scroll;
}

.list::-webkit-scrollbar {
	display: none;
}

.list {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.list:active {
	cursor: grabbing;
}

.container {
	display: flex;
	align-items: center;
	margin: 1rem 0 3rem 0;
}

.scrollButton {
	background: none;
	border: none;
	color: var(--color-white);
	font-size: 24px;
	cursor: pointer;
	user-select: none;
}
