/* .wrapper {
	position: relative;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0);
}

.wrapper div {
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin: 0 auto;
	z-index: 999999999999999999999;
} */

.wrapper {
	position: fixed; /* Zmieniamy na fixed, aby nawigacja była przyklejona do góry */
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(
		0,
		0,
		0
	); /* Dodanie lekkiej przezroczystości dla estetyki */
	z-index: 999; /* Upewniamy się, że nawigacja będzie na wierzchu */
	padding: 0.5rem 0;
}

.wrapper > div {
	display: flex;
	justify-content: space-between; /* Zapewnia space-between dla logo i linków */
	align-items: center;
	height: 60px;
	max-width: 1600px; /* Maksymalna szerokość kontenera */
	margin: 0 auto; /* Wysrodkowanie kontenera */
	padding: 0 20px; /* Dodajemy paddingi na krawędziach dla małych ekranów */
}

.navDesktop {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: flex-end;
	padding-right: 1rem;
	width: 100%;
	/* position: fixed; */
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	/* box-shadow: 0 2px 15px #646464; */
	z-index: 99;
}

.navDesktop li {
	display: flex;
	justify-content: center;
	align-items: center;
	text-wrap: nowrap;
}

.navDesktop li a {
	color: var(--color-white);
	font-size: 1.3rem;
	padding: 1rem 1.5rem;
	transition: transform 0.3s;

	@media (min-width: 1024px) {
		font-size: 1.4rem;
	}
}

.navDesktop li a:hover {
	transform: translateY(-3px);
}
