.footer {
	background-color: var(--color-title);
	width: 100%;
	text-align: center;
	padding: 1rem;
	color: var(--color-text-default);
	margin-top: auto;
	/* position: absolute;
	bottom: 0;
	width: 100%; */
}
