.menuList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	height: 100vh;
	background-color: rgb(21, 20, 20);
	position: fixed;
	top: 0px;
	width: 0vw;
	right: 0;
	color: #fff;
	overflow: hidden;
	z-index: 999;
	transition: width 0.3s ease-in-out;
}

.expanded {
	width: 90vw;
}

.menuList li a {
	color: #fff;
	font-size: 1.2rem;
}
