/* src/components/VideoBackground/VideoBackground.module.css */

.videoBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Zapewnia, że wideo jest w tle */
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Zapewnia pokrycie całego obszaru */
}

.content {
	position: relative;
	min-height: 100vh;
	z-index: 1; /* Wyższy indeks niż wideo, aby treść była na wierzchu */
}
